In [ ]:
95

95

In [ ]:
#list to string
string = 'my name is nabeel'
def list_to_str(strng):
    out = string.split()
    rev = []
    sss = ''
    for i in out:
        rev_i = i[::-1]
        rev.append(rev_i)
        sss = sss + ' ' +rev_i

    return out,rev,sss

list_to_str(string)

(['my', 'name', 'is', 'nabeel'],
 ['ym', 'eman', 'si', 'leeban'],
 ' ym eman si leeban')

In [ ]:
#remove duplicate from string
def remove_duplicate(s):
    out = ""
    for i in s:
        if i not in out:
            out += i
    return out
remove_duplicate('nabeel')

'nabel'

In [ ]:
def reverse_str(s):
    ou = []
    s = s.split()
    for i in s:
        ou.insert(0,i)
    return ou
reverse_str('my name is nabeel')

['nabeel', 'is', 'name', 'my']

In [ ]:
#retun min key and vlaue in dict

'''
for k,v in dict.items():
and compare that
return the result
'''
# search and delete element with TC requiemnt

In [ ]:
# #paramatric vs non paramatric
# convex vs conves cost function
import pandas
import numpy
import sklearn