2 one D table is given -- >> find the no of row after inner, left, right and outer join

ROW_NUMBER vs RANK vs DENSE RANK
window func -->> all the agg function such as sum(), max(), min(), count(), avg() -- >> one argument col
                lead(), lag() -->> 2 argument col, 1
                 over(partition by, order by) clause with row between unbounded preceding to 1 preceding or current row

find duplicate and delete duplicate
no of occurance in col -->> group by and count
case when -- >> imp
running sum  -->> to col we have to find running sum apply sum function and order by basically window function
performance improvemnt --- >>>  performing change as compared to previous use lag(col, 1)

select quarter,
       revenue,
       avg(revenue) over (order by quarter rows between 3 preceding and current row)
from amazon_revenue;

it running  avg quarter wise

two student id whose total of two highest marks atleat 160 -->> student_id, sub_id, marks are the cols

with CTE as (select * , ROW_NUMBER() OVER(partition by student_id order by marks desc) as rnk from table
select student_id, sum(marks) as total from CTE
where rnk <= 2
group by student_id
having sum(marks) >= 160

2nd highest salary using subquery window fun
select * from
    (select *, DENSE_RANK() OVER(order by salary desc) as  rn
       from table) x
where x.rn = 2

salary higher than dept avg salary
emp table -->> id, name, salary, dept_id
dept table -->> id, name

select * from emp_table e1 where salary > (
    select AVG(salary) from emp_table e2 where e1.dept_id = e2.dept_id)

approved amount > 3000
table schema are as follows

wallet -->> id, user_name
transation -->> wallet_id, amount, status

select w.user_name, sum(t.amount) as amount
from transation t inner join wallet w on t.wallet_id = w.id
where t.stutus = 'approved'
group by w.user_name
having sum(t.amount)>3000

user not logged in in last n month
select user_id, MAX(login_time) from table
group by user_id
having MAX(login_time) < DATEADD(MONTH, -5, GETDATE())

business usnit's quartarly analysis

Display user logged in in JANUARY 2024, but not in NOVEMBER 2023

select user_id from table
where login_time BETWEEN '2024-01-01' AND '2024-01-31'
not in (select user_id from table
        where login_time BETWEEN '2023-01-01' AND '2023-01-30')

user with highest session score each day
col -- >> user, time, session_id, session_score
return -->> user, time, score
with CTE as
    (select *, DESNSE_RANK() OVER (partition by time order by session_score DESC) as rnk from table)
select user, time, score from CTE
where rnk = 1

dept with more than 3 emp
col -- >> emp_id, name, salary, dept
select count(*), dept
from table
group by dept
having count(*) > 3

emp with manager
select e.emp_id, e.emp_name, e.salary, e.job_tile, e.manager_id, m.emp_name as manager_name
from employee e left join employee m on e.manager_id=e.emp_id

no of occurance in col -->> group by and count


SELECT country_name, COUNT(*) as country_count
FROM countries_table
GROUP BY country_name
ORDER BY country_count DESC;

avg salary of each dept can be twisted as max, min,
col -->> emp_id, dept, salary
SELECT *, AVG(salary) OVER(PARTITION BY dept) as avgsalary
from table

newest record of each namesssss
col -->> id, name, location, date
SELECT * from
    (SELECT *, rank() OVER(PARTITION by Name, ORDER by Date DESC) as rank
     from table )x
where x.rank = 1

SELECT id, name, GROUP_CONCAT(course separater ',')
from table group by id

address of student whose avg score > 70
tab1 -->> id, scroe, tab2 -->> id, address

SELECT s.id, AVG(s.score), a.address
from tab1 s INNER JOIN tab2 a ON s.id = a.id
GROUP BY s.id, a.address
HAVING AVG(s.score) > 70

sql query that each team will play one math with eachother
SELECT t1.team_id AS team1, t2.team_id AS team2
FROM teams t1
JOIN teams t2 ON t1.team_id < t2.team_id;

min and max mark of each student 4 subject is given
SELECT student_id, MIN(mark) AS min_mark, MAX(mark) AS max_mark
FROM marks
GROUP BY student_id;

unequal id in both table t1 and t2
select id from t1 where id not in t2
union
select id from t2 where id not in t1

time cols -->> id, activity, time
find the time spent in office daywise

player who only gold medal
with cte as (
    SELECT gold as player_name 'gold' as medal_type from event
    union all SELECT silver as player_name 'silver' as medal_type from event
    union all SELECT bronze as player_name 'bronze' as medal_type from event
    )
select player_name, count(1) as no_ of gold
from cte
group by player_name
having count(DISTINCT medal_type)=1 and max(medal_type)='gold'

ticket resolve day cols-->> ticket_id, created_date, close_date
select ticket_id,
datediff(day, created_date,close_date) as actual_days
datediff(day, created_date,close_date) - 2*datediff(week, created_date,close_date) as business_day
from table

if col contain multiple value
select value as room_type, count(1) as no_of_searches from table
CROSS APPLY string_split(room_type,',')
here room_type col has multiple string separated by ','

emp whose dept and sal both are same
col -->> id, name, sal, dept
with CTE as (select sal, dept from table
group by sal, dept
having count(1) >1)
select CTE.* from CTE
INNER JOIN table
on CTE.dept = table.dept and CTE.sal=table.sal

find total revenue generated by customer who bought photoshop except photoshop
cols -->> id, product, revenue

select id, SUM(revenue) from table
where id IN (select distict id from table where product='photoshop')
and product !='photoshop'
group by id

min and max salry in each dept
SELECT
    department_id,
    name,
    MIN(salary) OVER (PARTITION BY department_id) AS min_salary,
    MAX(salary) OVER (PARTITION BY department_id) AS max_salary
FROM
    employees
ORDER BY
    department_id;

pair child with adult
with adult AS
    (select *, row_number() OVER(ORDER by person) as rn
    where type = 'adult'
    )
with child as
    ((select *, row_number() OVER(ORDER by person) as rn
    where type = 'child'
    )
select a.person , c.person from adult a
LEFT JOIN child c  on a.rn=c.rn

-- Adding a new column to the table
ALTER TABLE cities ADD COLUMN city_short CHAR(3);

-- Updating the new column with the first 3 characters of city names
UPDATE cities
SET city_short = SUBSTRING(city_name, 1, 3);

#find the increasing rev every year
2 table sale and products

with sale_CTE as (
select *, lead(total_sales_revenue,1) OVER(partition by product_id order by year) as nxtyearrev,
lead(total_sales_revenue,2) OVER(partition by product_id order by year) as nxt2nxtyearrev
from sales)
select p.product_id, p.product_name, p.category from products p
join sale_CTE s on s.product_id = p.product_id
where s.total_sales_revenue < s.nxtyearrev
and s.nxtyearrev < s.nxt2nxtyearrev

#top performing product in earch year and quarter
column are as
Product_id INT,
    Product_name VARCHAR(50),
    sale_Date DATE,
    sale_qty INT


with CTE as (SELECT Product_id, Product_name,sale_Date,sale_qty,
	YEAR(sale_Date) AS sale_year,
	QUARTER(sale_Date) AS sale_quarter,
    CONCAT(YEAR(sale_Date), '-Q', QUARTER(sale_Date)) AS sale_period,
    ROW_NUMBER() OVER (partition by YEAR(sale_Date), QUARTER(sale_Date) order by sale_qty DESC) as rnk
FROM prd_sales)
select Product_id, Product_name, sale_period, sale_qty
from CTE where rnk=1;

one table column -->> id, studentname, fee and section
find studentname with same fee and section

select * from Student_raw s1 INNER JOIN Student_raw s2
on s1.Fees = s2.Fees and s1.Section = s2.Section and s1.Name <> s2.Name